<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <script defer src="assets/js/face-api.min.js"></script>
    <script defer src="assets/js/newFace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container" id="appContainer">
        <div class="login-container face-id-active" id="loginContainer">
            <div class="form-item w-100">
                <input type="text" id="username" name="username" placeholder="Kullanıcı Adı" />
            </div>
            <div class="form-item w-100">
                <input name="image" id="image" type="file" multiple>
            </div>
            <div class="button-container w-100">
                <button class="buttonload" id="submit">
                    <i id="buttonIcon" class="fa fa-upload"></i>
                    <span>Gönder</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>